@use "variables";

header {
    position: absolute;
    z-index: 10000;
    padding: 26px 0 28px;
    width: 100%;
    transition: all ease 0.6s;
    .container {
        .menu-header {
            #nav-desk {
                #menu-menu-principal {
                    display: flex;
                    align-items: center;
                    gap: 35px;
                    margin-bottom: 0;
                    padding-left: 0;
                    li {
                        a {
                            font-size: variables.$fsz-xsmall;
                            line-height: variables.$lh-xsmall;
                            color: #fff;
                            font-weight: 600;
                            text-decoration: none;
                            transition: all ease 0.3s;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
            #menu-mobile {
                display: none;
            }
        }
    }
    &.not-home {
        position: relative;
        background-color: variables.$primary-color;
    }
    &.active {
        position: fixed;
        top: 0;
        background-color: variables.$primary-color;
    }
}
