@use "variables";

#slider-topo {
    margin-bottom: 0;
    width: 100%;
    height: 100dvh;
    .slider-item {
        img,
        video {
            width: 100%;
            height: 100dvh;
            object-fit: cover;
            object-position: center;
        }
        .slider-video {
            height: 100dvh;
        }
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .slider-text {
            h2,
            h3 {
                font-size: variables.$fsz-xxlarge;
                line-height: variables.$lh-xxlarge;
                color: variables.$secondary-font-color;
                margin-bottom: 0;
                font-weight: 700;
                p {
                    margin-bottom: 0;
                }
            }
            h3 {
                font-size: variables.$fsz-large;
                line-height: variables.$lh-large;
                font-weight: 300;
                margin-top: 15px;
            }
            a {
                margin-top: 25px;
            }
        }
    }
    .slick-dots {
        bottom: 25px;
        right: 70px;
        text-align: right;
        li {
            margin: 0 3px;
            button {
                &::before {
                    font-size: 12px;
                    color: #fff;
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    &::before {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
#por-que-alugar {
    padding-top: 60px !important;
    .container {
        width: 60%;
        h4 {
            font-size: variables.$fsz-small;
            line-height: variables.$lh-small;
        }
        p {
            font-size: variables.$fsz-xsmall;
            line-height: variables.$lh-xsmall;
        }
        span {
            color: variables.$primary-color;
        }
        .descricao {
            margin: 25px 0 30px;
            p {
                margin-bottom: 0;
            }
        }
    }
}
#para-sua-empresa {
    h3,
    p {
        font-size: variables.$fsz-xsmall;
        line-height: variables.$lh-xsmall;
    }
    h3 {
        font-weight: 800;
    }
    .container {
        position: relative;
        .text {
            position: absolute;
            left: 39px;
            bottom: 45px;
            width: 25%;
        }
    }
}
#para-voce {
    h3 {
        font-size: variables.$fsz-xsmall;
        line-height: variables.$lh-xsmall;
    }
    .container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
#terceirizacao-de-frota {
    padding: 60px 0 110px !important;
    h2 {
        margin-bottom: 30px;
    }
    .terceirizacao {
        .item {
            .content {
                img {
                    width: 45px;
                }
                h4 {
                    font-size: variables.$fsz-base;
                    line-height: variables.$lh-base;
                    margin: 30px 0;
                }
                p {
                    font-size: variables.$fsz-xsmall;
                    line-height: variables.$lh-xsmall;
                    margin: 0;
                }
            }
        }
    }
    button {
        margin-top: 30px;
        width: 263px;
    }
}
#atendimento {
    .container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        p {
            font-weight: 200;
        }
    }
}
#por-que-assinar {
    .subtitulo {
        font-size: variables.$fsz-xsmall;
        line-height: variables.$lh-xsmall;
    }
    a {
        margin-top: 55px;
    }
}
#sustentabilidade-tecnologia {
    background-image: url(../images/bg-depoimentos.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 56px 0 58px !important;
    margin-top: 40px;
    h2 {
        font-weight: 600;
    }
    .subtitulo {
        font-size: variables.$fsz-xsmall;
        line-height: variables.$lh-xsmall;
        font-weight: 200;
    }
    #slider-depoimentos {
        cursor: grab;
        .slick-slide {
            margin: 0 30px;
        }
        .slick-list {
            margin: 0 -30px;
        }
        .item {
            background-image: url(../images/bg-depoimento.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 10px 10px 5px 0;
            height: 305px;
            justify-content: space-between;
            outline: none;
            transition: all ease 0.3s;
            .avaliacao {
                position: relative;
                width: 100px;
                height: 20px;
                background: url("../images/star-empty.svg") repeat-x;
                background-size: 20px 20px;
                .rating-fill {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    background: url("../images/star-full.svg") repeat-x;
                    background-size: 20px 20px;
                    overflow: hidden;
                }
            }
            .content {
                padding: 0 10px 40px 40px;
                .depoimento {
                    font-size: variables.$fsz-xsmall;
                    line-height: variables.$lh-xsmall;
                    font-weight: 400;
                }
            }
            .infos-depoimento {
                padding-left: 15px;
                gap: 40px;
                .image-depoimento {
                    width: 64px;
                    height: 64px;
                    background-color: #fff;
                    border-radius: 50%;
                    img {
                        width: 58px;
                        height: 58px;
                        border-radius: 50%;
                    }
                }
                .nome {
                    font-size: variables.$fsz-xsmall;
                    line-height: variables.$lh-xsmall;
                    font-weight: 600;
                }
                .cargo {
                    font-size: variables.$fsz-xxsmall;
                    line-height: variables.$lh-xxsmall;
                    font-weight: 400;
                }
            }
            &.slick-active {
                opacity: 0.46;
            }
            &.slick-current {
                opacity: 1;
            }
        }

        .slick-dots {
            bottom: -60px;
            text-align: left;
            left: 30%;
            width: max-content;
            li {
                width: 15px;
                height: 20px;
                margin: 0;
                button {
                    &::before {
                        font-size: 4px;
                        color: #fff;
                        opacity: 1;
                        transition: all ease 0.3s;
                    }
                }
                &.slick-active {
                    button {
                        &::before {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        &:active {
            cursor: grabbing;
        }
    }
}
#newsletter {
    padding: 40px 0 !important;
    .input-field {
        position: relative;
        form {
            position: relative;
            input {
                border: 1px solid #707070;
                width: 450px;
                padding-right: 120px;
                margin-left: -30px;
            }
            button {
                position: absolute;
                right: -30px;
                padding: 7px 30px;
            }
        }
        #newsletter-msg {
            position: absolute;
            bottom: -30px;
            &.error {
                color: variables.$danger-color;
            }
            &.success {
                color: variables.$sucess-color;
            }
        }
    }
}
#nossos-enderecos {
    background-image: url(../images/bg-purples.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0 48px !important;
    h2 {
        margin-bottom: 35px;
    }
    .enderecos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 80px;
        .item {
            .content {
                gap: 20px;
                .map-wrapper {
                    -webkit-mask-image: url("../images/path.png");
                    mask-image: url("../images/path.png");
                    -webkit-mask-size: 100% 100%;
                    mask-size: 100% 100%;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                }
                h4 {
                    font-size: variables.$fsz-medium;
                    line-height: variables.$lh-medium;
                    font-weight: 500;
                }
                a {
                    font-size: variables.$fsz-xsmall;
                    line-height: variables.$lh-xsmall;
                    text-decoration: none;
                }
                .infos-endereco {
                    svg {
                        width: 12px;
                    }
                }
            }
        }
    }
}
