@use "variables";

#slider-topo {
    margin-bottom: 0;
    width: 100%;
    height: 100dvh;
    .slider-item {
        img,
        video {
            width: 100%;
            height: 100dvh;
            object-fit: cover;
            object-position: center;
        }
        .slider-video {
            height: 100dvh;
        }
    }
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .slider-text {
            h2,
            h3 {
                font-size: variables.$fsz-xxlarge;
                line-height: variables.$lh-xxlarge;
                color: variables.$secondary-font-color;
                margin-bottom: 0;
                font-weight: 700;
                p {
                    margin-bottom: 0;
                }
            }
            h3 {
                font-size: variables.$fsz-large;
                line-height: variables.$lh-large;
                font-weight: 300;
                margin-top: 15px;
            }
            a {
                margin-top: 25px;
            }
        }
    }
    .slick-dots {
        bottom: 25px;
        right: 70px;
        text-align: right;
        li {
            margin: 0 3px;
            button {
                &::before {
                    font-size: 12px;
                    color: #fff;
                    opacity: 1;
                }
            }
            &.slick-active {
                button {
                    &::before {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
#por-que-alugar {
    .container {
        width: 60%;
        h4 {
            font-size: variables.$fsz-small;
            line-height: variables.$lh-small;
        }
        h2 {
            font-size: variables.$fsz-xlarge;
            line-height: variables.$lh-xlarge;
            color: variables.$primary-color;
            font-weight: bold;
        }
        p {
            font-size: variables.$fsz-xsmall;
            line-height: variables.$lh-xsmall;
        }
        span {
            color: variables.$primary-color;
        }
        .descricao {
            margin: 25px 0 30px;
            p {
                margin-bottom: 0;
            }
        }
    }
}
