@use "variables";

@media (max-width: 1400px) {
    #por-que-alugar {
        .container {
            width: 75%;
        }
    }
}
@media (max-width: 768px) {
    .list-grid {
        grid-template-columns: repeat(1, 1fr) !important;
        width: 100% !important;
    }
    #por-que-alugar {
        .container {
            width: 100%;
        }
    }
    #para-sua-empresa {
        .container {
            .text {
                width: 35%;
            }
        }
    }
    #terceirizacao-de-frota {
        .terceirizacao {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .page {
        #page-quem-somos {
            #banner {
                .container {
                    top: 10%;
                }
                .img-banner img {
                    margin-top: 0;
                }
            }
            #sobre-nos {
                margin-top: -150px;
            }
            #nossa-jornada {
                .content {
                    width: 100%;
                }
            }
            #missao-visao-valores {
                .content {
                    gap: 30px 50px;
                    width: 100%;
                }
            }
        }
        #page-para-empresas {
            #formulario {
                .content {
                    width: 75%;
                }
            }
        }
        #page-para-voce {
            .mask-on {
                &::before {
                    width: 75%;
                }
            }
            #passo-a-passo {
                .passo-a-passo {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            #veiculos {
                .list-grid-veiculos {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            #inclusoes {
                .inclusoes {
                    width: 100%;
                }
            }
            #formulario {
                .content {
                    width: 75%;
                }
            }
        }
    }
    footer {
        .redes-sociais {
            .rede {
                width: 23px;
                height: 23px;
                &.x {
                    svg {
                        width: 13px;
                    }
                }
                &.youtube {
                    svg {
                        width: 17px;
                    }
                }
                &.instagram {
                    svg {
                        width: 19px;
                    }
                }
                &.facebook {
                    svg {
                        width: 11px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: variables.$fsz-large !important;
        line-height: variables.$lh-large !important;
    }
    .btn {
        font-size: variables.$fsz-xsmall !important;
        line-height: variables.$lh-xsmall !important;
        padding: 4px 36px !important;
    }
    .list-grid {
        .item {
            .content {
                p {
                    font-size: variables.$fsz-small !important;
                    line-height: variables.$lh-small !important;
                }
            }
        }
    }
    header {
        padding: 26px 15px 28px;
        .container {
            .logo {
                img {
                    width: 180px;
                }
            }
            #nav-desk {
                display: none;
            }
            #open-menu-mobile {
                display: flex !important;
            }
        }
        #menu-mobile {
            #top-menu-mobile {
                margin-bottom: 70px;
                img {
                    width: 180px;
                }
                svg {
                    width: 30px;
                }
            }
            #nav-mobile {
                ul {
                    padding-left: 0;
                    li {
                        margin-bottom: 22px;
                        a {
                            font-size: 20px;
                            line-height: 24px;
                            color: #fff;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }
            &.active {
                opacity: 1;
                z-index: 1000;
            }
        }
    }
    #slider-topo {
        .container {
            .slider-text {
                h2 {
                    font-size: 40px !important;
                    line-height: 47px !important;
                    text-align: center;
                }
                h3 {
                    display: none;
                }
            }
            &.superior {
                top: 140px;
            }
            &.centro {
                top: 35%;
            }
            &.inferior {
                top: auto;
                transform: translateX(-50%);
                bottom: 55px;
            }
        }
        .slick-dots {
            right: 0;
            bottom: 10px;
            text-align: center;
        }
    }
    #para-sua-empresa {
        img {
            object-fit: contain;
            object-position: center;
        }
        .container {
            .text {
                top: 0;
                left: 50px;
                width: 75%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
    #atendimento {
        img {
            min-height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }
    #por-que-assinar {
        .subtitulo {
            width: 100%;
        }
    }
    #sustentabilidade-tecnologia {
        #slider-depoimentos {
            .slick-track {
                display: flex;
                gap: 15px;
            }
            .slick-list,
            .slick-slide {
                margin: 0;
            }
            .slick-dots {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    #newsletter {
        .input-field {
            form {
                width: 100%;
                input {
                    margin-left: 0;
                    padding-right: 150px;
                    width: 100%;
                }
                button {
                    right: 0;
                    height: 35px !important;
                }
            }
        }
    }
    #nossos-enderecos {
        .enderecos {
            grid-template-columns: 1fr;
        }
    }
    .page {
        #page-quem-somos {
            #banner {
                .container {
                    p {
                        font-size: variables.$fsz-xlarge;
                        line-height: variables.$lh-xlarge;
                    }
                }
            }
            #nossa-jornada {
                .content {
                    p {
                        font-size: variables.$fsz-small;
                        line-height: variables.$lh-small;
                    }
                }
            }
            #missao-visao-valores {
                .content {
                    grid-template-columns: 1fr;
                    .item {
                        &.valores {
                            background-image: url(../images/path-2.png);
                            grid-column: auto;
                        }
                    }
                }
            }
        }
        #page-para-empresas {
            #bloco-empresa {
                .texto {
                    padding-right: 12px;
                    h2 {
                        text-align: center;
                        padding: 30px 0 27px !important;
                    }
                    p {
                        font-size: variables.$fsz-small;
                        line-height: variables.$lh-small;
                        text-align: justify;
                    }
                }
                #imagem-topo {
                    position: relative;
                    margin-top: 30px;
                    width: 100%;
                }
                .path-img {
                    left: 0;
                    bottom: 29px;
                }
            }
            #terceirizando {
                #beneficios {
                    grid-template-columns: 1fr;
                }
            }
            #transforme {
                &::before {
                    width: 75%;
                }
            }
            #formulario {
                .content {
                    width: 100%;
                }
            }
        }
        #page-para-voce {
            #banner {
                height: auto;
                img {
                    object-fit: contain;
                }
                .container {
                    top: 50%;
                    transform: translate(-50%, -50%);
                    bottom: initial;
                    p {
                        font-size: 40px;
                        line-height: 44px;
                    }
                }
            }
            #assinatura {
                .d-left {
                    text-align: center;
                    margin-bottom: 30px;
                }
                .d-right {
                    h3 {
                        text-align: center;
                    }
                    p {
                        text-align: justify;
                    }
                }
            }
            #bloco-beneficios {
                #imagem-topo {
                    position: relative;
                    width: 100%;
                }
                .texto {
                    gap: 25px;
                }
                .path-img {
                    right: 0;
                }
                .icone-beneficios {
                    right: 10px;
                }
            }
            #passo-a-passo {
                .passo-a-passo {
                    grid-template-columns: repeat(1, 1fr);
                    .passo-item {
                        .index {
                            font-size: 100px;
                        }
                    }
                }
            }
            #veiculos {
                .list-grid-veiculos {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            #inclusoes {
                .inclusoes {
                    .inclusao-item {
                        width: calc(50% - 47px);
                    }
                }
            }
            #formulario {
                .content {
                    width: 100%;
                }
            }
        }
    }
    footer {
        .row {
            text-align: center;
            gap: 25px;
        }
    }
}

@media (max-width: 400px) {
    .list-grid {
        .item {
            .content {
                .img-item {
                    .index {
                        width: 50px !important;
                        height: 50px !important;
                        align-items: center !important;
                        justify-content: center !important;
                    }
                }
            }
        }
    }
    #sustentabilidade-tecnologia {
        #slider-depoimentos {
            .item {
                .avaliacao {
                    width: 80px;
                    height: 16px;
                    background-size: 16px 16px;
                    .rating-fill {
                        height: 16px;
                        background-size: 16px 16px;
                    }
                }
            }
        }
    }
}
