@use "variables";
@use "fonts";
@use "header";
@use "footer";
@use "index";
@use "pages";
@use "single";
@use "mobile";

// CONTAINER

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

// GERAL

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
ul {
    li {
        list-style: none;
    }
}
input {
    border: none;
    border-radius: 30px;
    height: 35px;
    padding: 3px 15px;
    outline: none;
}
h2 {
    font-size: variables.$fsz-xlarge;
    line-height: variables.$lh-xlarge;
    color: variables.$primary-color;
    font-weight: bold;
}
section {
    &:not(#slider-top, .page) {
        padding: 30px 0;
    }
}
.bg-primary {
    background-color: variables.$primary-color !important;
}
.primary-color {
    color: variables.$primary-color;
}

// BOTÕES

.btn {
    font-size: variables.$fsz-small;
    line-height: variables.$lh-small;
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 36px;
    transition: all ease 0.3s;
}
.primary-btn {
    background-color: variables.$primary-color;
    color: variables.$secondary-font-color;
}
.secondary-btn {
    background-color: variables.$secondary-font-color;
    color: variables.$secondary-color;
}
.btn:hover {
    background-color: variables.$secondary-color;
    color: variables.$secondary-font-color;
}
.btn:active,
.btn:focus-visible {
    background-color: variables.$secondary-color !important;
    border-color: variables.$secondary-color !important;
    color: variables.$secondary-font-color !important;
}

// Outros

.path-img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 0.092px);
}
.list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 80px;
    width: 85%;
    .item {
        .content {
            .img-item {
                position: relative;
                h4 {
                    position: absolute;
                    bottom: 10px;
                    left: 110px;
                    text-align: left;
                    margin-bottom: 0;
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    height: calc(1em * 2 * 1.2);
                    line-height: 1.2;
                }
                .index {
                    position: absolute;
                    left: 5px;
                    bottom: 5px;
                    width: 65px;
                    height: 65px;
                    background-color: variables.$primary-color;
                    border-radius: 50%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    font-size: 38px;
                    line-height: 70px;
                    font-weight: 600;
                    color: #fff;
                }
            }
            p {
                font-size: variables.$fsz-medium;
                line-height: variables.$lh-medium;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
}

// FORMULÁRIOS

.wpcf7 form .wpcf7-response-output {
    border-radius: 5px;
    padding: 10px;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    background-color: variables.$error-color;
    color: variables.$danger-color;
    border: 1px solid variables.$danger-color;
}
.wpcf7 form.sent .wpcf7-response-output {
    background-color: variables.$bg-sucess-color;
    color: variables.$sucess-color;
    border: 1px solid variables.$sucess-color;
}

.formulario {
    text-align: center;
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        font-size: variables.$fsz-xsmall;
        line-height: variables.$lh-xsmall;
        padding: 10px 30px;
        border: none;
        width: 100%;
        &::placeholder {
            color: #000;
        }
    }
    textarea {
        border-radius: 10px;
    }
    p {
        margin-bottom: 10px;
    }
    input[type="submit"] {
        margin: 30px auto 0;
        width: 50%;
    }
}

// FAQ

#faq {
    padding: 60px 0 !important;
    h2 {
        margin-bottom: 30px;
    }
    svg {
        width: 15px;
        transition: all ease 0.3s;
    }
    .faq-list {
        .faq-hidden {
            display: none;
        }
        .faq-item {
            border: 1px solid variables.$primary-color;
            background: #f6f7f7 0% 0% no-repeat padding-box;
            border: 1px solid variables.$primary-color;
            border-radius: 26px;
            padding: 12px 20px;
            margin-bottom: 20px;
            .faq-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                color: variables.$primary-color;
                cursor: pointer;
            }
            &.active {
                .arrow-question {
                    transform: rotate(-180deg);
                }
                .faq-answer {
                    max-height: 500px;
                    opacity: 1;
                    padding-top: 10px;
                }
            }
            .faq-answer {
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                transition: 0.3s ease;
                color: variables.$secondary-color;
            }
        }
        &.with-categories {
            h3 {
                font-size: variables.$fsz-large;
                line-height: variables.$lh-large;
                text-transform: uppercase;
                font-weight: bold;
                color: variables.$primary-color;
                margin-bottom: 0;
            }
            .faq-category {
                border: 1px solid variables.$primary-color;
                background: #f6f7f7 0% 0% no-repeat padding-box;
                border: 1px solid variables.$primary-color;
                border-radius: 26px;
                padding: 12px 20px;
                margin-bottom: 20px;
                cursor: pointer;
                h3 {
                    font-size: 20px;
                    line-height: 25px;
                }
                &.active {
                    h3 {
                        margin-bottom: 25px;
                    }
                    .arrow-category {
                        transform: rotate(-180deg);
                    }
                    .faq-item {
                        padding: 12px 20px;
                        margin-bottom: 20px;
                        max-height: 500px;
                        opacity: 1;
                    }
                }
            }
            .faq-item {
                border: none;
                box-shadow: 0px 0px 12px #00000029;
                padding: 0;
                margin: 0;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
            }
        }
    }
    button {
        width: 263px;
        margin-top: 12px;
    }
}
