@use "variables";
@use "fonts";
@use "header";
@use "footer";
@use "index";
@use "pages";
@use "single";
@use "mobile";

// CONTAINER

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

// GERAL

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
ul {
    li {
        list-style: none;
    }
}
section {
    &:not(#slider-top) {
        padding: 60px 0;
    }
}

// BOTÕES

.btn {
    font-size: variables.$fsz-small;
    text-decoration: none;
    border-radius: 30px;
    padding: 8px 24px;
    transition: all ease 0.3s;
}
.primary-btn {
    background-color: variables.$primary-color;
    color: variables.$secondary-font-color;
}
.secondary-btn {
    background-color: variables.$secondary-font-color;
    color: variables.$secondary-color;
}
.btn:hover {
    background-color: variables.$secondary-color;
    color: variables.$secondary-font-color;
}
