// Cores
$primary-color: #7b38a7;
$secondary-color: #2d2d2d;
$bg-sucess-color: #bfe2ce;
$sucess-color: #14a04f;
$error-color: #fde2e2;
$danger-color: #e74c3c;
$background-color: #fff;
$font-color: #000;
$secondary-font-color: #fff;

// Tamanhos
$fsz-xxsmall: 12px;
$fsz-xsmall: 14px;
$fsz-small: 16px;
$fsz-base: 17px;
$fsz-medium: 18px;
$fsz-large: 24px;
$fsz-xlarge: 30px;
$fsz-xxlarge: 50px;

// Tamanhos de line height
$lh-xxsmall: 14px;
$lh-xsmall: 16px;
$lh-small: 19px;
$lh-base: 20px;
$lh-medium: 22px;
$lh-large: 29px;
$lh-xlarge: 35px;
$lh-xxlarge: 59px;
